@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #0a192f;
  z-index: 1000;
}

.wavy {
  position: relative;
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.wavy span {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  animation: animate 1.5s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  40% {
    transform: translateY(0px);
  }
}

.main {
  height: 100vh;
  width: 100vw;
  background: url(bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.main h1 {
  color: #5c81b8;
  font-size: 60px;
  text-shadow: 1px 1px #64ffda, 2px 2px #64ffda, 3px 3px #64ffda;
}

#avatar {
  border-radius: 50%;
  border: 4px solid #64ffda;
  position: relative;
}

.result_not_found {
  height: 100%;
  width: 100%;
  position: fixed;
  background: #0a192f;
  top: 0;
  left: 0;
  color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
}

#close_details,
.result_not_found #close {
  position: fixed;
  top: 30px;
  right: 30px;
  background: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #0a192f;
}

.result_not_found .img {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result_not_found .img img {
  width: 80%;
}

.result_not_found .details {
  width: 50%;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.result_not_found .details h1 {
  font-size: 40px;
}

.result_not_found .details p {
  font-size: 16px;
}

.result_not_found .details h1 span {
  color: #64ffda;
}

.result_box {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #0a192f;
}

#result {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

#result .parabox {
  position: relative;
  border: 2px solid #3f475a;
  border-radius: 5px;
  padding: 10px;
  border-top-left-radius: 0;
}

#result .parabox .up {
  position: absolute;
  top: -25px;
  left: -2px;
  height: 25px;
  width: fit-content;
  border: 2px solid #3f475a;
  border-radius: 5px;
  border-bottom: none;
  border-bottom-left-radius: 0;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #64ffda;
}

#myForm {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#myForm #input {
  height: 50px;
  width: 60%;
  border: none;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myForm #input input {
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  position: relative;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #3f475a;
}

#myForm #input input::placeholder {
  color: #626d89;
  letter-spacing: 0.5px;
}

button {
  height: 50px;
  width: 100px;
  outline: none;
  border: none;
  background: #64ffda;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
  color: #242730;
}

h1,
h2 {
  color: #ccd6f6;
  letter-spacing: 1px;
}

p {
  color: #626d89;
  max-width: 70ch;
}

a {
  color: #64ffda;
}

.social {
  display: flex;
  position: relative;
  margin-top: 15px;
}

.social a {
  text-decoration: none;
  width: 45px;
  height: 45px;
  background: #0a192f;
  border-radius: 50%;
  border: 2px solid #64ffda;
  color: #64ffda;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  font-size: 22px;
  transition: 0.2s;
  cursor: pointer;
}

.social a:hover {
  background: #64ffda;
  color: #0a192f;
  animation: bounce 1s ease-in-out;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  60% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

.profile_details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

#follow,
#repo {
  color: #64ffda;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

#follow i,
#repo i {
  width: 45px;
  height: 45px;
  background: #0a192f;
  border-radius: 50%;
  border: 2px solid #64ffda;
  color: #64ffda;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-right: 10px;
}

@media (max-width: 900px) {
  .result_not_found {
    flex-direction: column;
    gap: 20px;
  }

  .result_not_found .img,
  .result_not_found .details {
    width: 100%;
    height: fit-content;
  }

  .result_not_found .img img {
    width: 60%;
  }
}

@media (max-width: 400px) {
  .result_not_found .details h1 {
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  #myForm {
    flex-direction: column;
    gap: 10px;
  }

  #myForm button {
    width: 70%;
    height: 40px;
  }

  #myForm #input {
    width: 90%;
    height: 40px;
  }
}